.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about > img {
  width: 300px;
}

.aboutText {
  display: flex;
  background-color: #94D8D0;
  height: fit-content;
  width: 300px;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 640px) {

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about > img {
    width: 310px;
  }
  
  .aboutText {
    height: 363px;
    width: 310px;
  }

}

@media only screen and (min-width: 940px) {

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about > img {
    width: 375px;
  }
  
  .aboutText {
    height: 434px;
    width: 375px;
  }

}