.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about > img {
  width: 300px;
}

.greetingsContainer {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  width: 300px;
  height: 40px;
  margin-top: 5px;
}

.hello1 {
  color: #94D8D0;
}

.hello2 {
  color: #E67B54;
}

.hello3 {
  color: rgba(178, 96, 160, 1);
}

.hello4 {
  color: #EDCB1B;
}

.aboutText {
  display: flex;
  flex-direction: column;
  background-color: #94D8D0;
  height: fit-content;
  width: 300px;
  font-family: 'Barlow', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.aboutText h2 {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  font-size: 17px;
}

.aboutText p {
  max-width: 93%;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 15px;
}

@media only screen and (min-width: 640px) {

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .greetingsContainer{
    margin-top: 120px;
  }

  .greeting {
    width: 600px;
    font-size: 22px;
  }

  .about h2 {
    font-size: 17px;
    margin-top: 3px;
  }

  .about p {
    max-width: 86.5%;
    font-size: 14px;
    margin-top: 5px;
  }

  .about > img {
    width: 300px;
    height: 360px;
  }
  
  .aboutText {
    height: 360px;
    width: 300px;
    padding: 0;
  }

}

@media only screen and (min-width: 940px) {

  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .greetingsContainer{
    margin-top: 130px;
  }

  .greeting {
    width: 748px;
    font-size: 24px;
  }

  .about > img {
    width: 375px;
    height: 439.59px;
  }
  
  .aboutText {
    height: 439.59px;
    width: 375px;
  }

  .about h2 {
    font-size: 19px;
    margin-top: 10px;
  }

  .about p {
    max-width: 85%;
    font-size: 16px;
    margin-top: 5px;
  }

}