.details img {
  width: 80%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details p {
  max-width: 80%;
  margin: 25px;
  font-family: 'Barlow', sans-serif;
}

.icon a > img {
  width:50px;
  margin: 5px 45px;
}

@media only screen and (min-width: 640px) {

  .details img {
    width: 450px;
  }

  .details p {
    width: 450px;
  }

}

@media only screen and (min-width: 950px) {

  .details img {
    width: 500px;
  }

  .details p {
    width: 500px;
  }

}